# Local configuration file
local.properties

# Android Studio Configs
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle files
.gradle
build
app/build

# Android Studio captures folder
captures

# Android Studio externalNativeBuild builder
.externalNativeBuild

# Others
.cxx
.DS_Store
